{% extends 'registration/reg_base.html' %}
{% block title %}Login - Sky Portal{% endblock %}

{% block content %}
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a>.</p>
{% endblock %}



<!--

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</html>
<body>
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>-->
<!--Code written by Syed Abbas-->
<!--
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>Sky Engineering Portal</title>
<link rel="stylesheet" href="style.css">
</head>

<body>

<main class="form-page">

<div class="form-container">

<div class="form-logo">
<img src="logo.png" alt="Sky Engineering Portal Logo">
<h1>Sky Engineering Portal</h1>
</div>

<p class="subtitle">Please sign in to your account</p>

<form action="dashboard.html">

<label for="email">Email Address</label>
<input id="email" type="email" required>

<label for="password">Password</label>
<input id="password" type="password" required>

<button type="submit">Sign In</button>

</form>

<div class="form-link">
<a href="signup.html">Create an account</a>
</div>

</div>

</main>

</body>
</html>   


    <p>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a>.</p>
</body>
</html>  -->

-->
