{% extends "registration/reg_base.html" %}
{% load static %}

{% block title %}Create New Password - Sky Portal{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="login-card">
    <h1 class="portal-title">Sky Portal</h1>
    <h2>Create New Password</h2>

    <p class="signup-text">
        Please enter your new password twice so we can confirm it matches.
    </p>

    <form method="post" class="reset-form">
        {% csrf_token %}

        <div class="reset-field">
            <label for="id_new_password1">New Password</label>
            {{ form.new_password1 }}
        </div>

        <div class="reset-field">
            <label for="id_new_password2">Confirm Password</label>
            {{ form.new_password2 }}
        </div>

        <button type="submit" class="reset-button">Change password</button>
    </form>
</div>

{% endblock %}