{% extends "registration/reg_base.html" %}
{% load static %}

{% block title %}Password Reset Complete - Sky Portal{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="login-card">
    <h1 class="portal-title">Sky Portal</h1>
    <h2>Password Reset Complete</h2>

    <p class="signup-text">
        Your password has been successfully changed.
    </p>

    <p class="signup-text">
        You can now log in with your new password.
    </p>

    <a href="{% url 'login' %}">
        <button type="button">Go to Login</button>
    </a>
</div>

{% endblock %}