{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Sky Portal{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
</head>

<body>

<div class="container">

    <!-- sidebar -->
    <div class="sidebar">
        <h2>
            <a href="/" style="color: white; text-decoration: none;">
            Sky
            </a>
        </h2>

        <a href="/organisation/">Organisation</a>
        <a href="/teams/">Teams</a>
        <a href="/chat/">Inbox</a>


        {% if user.is_staff %}
            <hr>
            <a href="/admin/">Admin Panel</a>
            <a href="{% url 'reports_page' %}">Reports</a>
        {% endif %}
    </div>




    <!-- main content -->
    <div class="content">

        <!-- topbar -->
        <div class="topbar">

        {% if user.is_authenticated %}
            <div class="profile-container">
                <div class="profile-menu">

                    <div class="profile-row">
                        <span class="profile-username">{{ user.username }}</span>
                        <img src="{% static 'css/images/pfp.png' %}" class="profile-btn">
                    </div>

                    <form action="/accounts/logout/" method="post">
                        {% csrf_token %}
                        <button type="submit" class="logout-btn">Logout</button>
                    </form>

                </div>
            </div>

            {% endif %}

        </div>

        {% block content %}
        {% endblock %}

    </div>

</div>

</body>
</html>
