{% extends 'base.html' %}
{% block title %}Home - Sky Portal{% endblock %}

{% block content %}
    <h1>Welcome to Sky Portal</h1>
    <p>This is the home page.</p>
{% endblock %}



<!--

<!DOCTYPE html>
<html>
<head>
    <title>Sky Portal</title>
</head>
<body>
    <h1>Welcome to the Sky Portal</h1>
    {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}! <a href="{% url 'logout' %}">Logout</a></p>
    {% else %}
        <p>You are not logged in. <a href="{% url 'login' %}">Login</a> or <a href="{% url 'signup' %}">Sign Up</a></p>
    {% endif %}
</body>
</html>

-->