{% extends 'base.html' %}

{% block title %}Organisation - Sky Portal{% endblock %}

{% block content %}
    <h1>Organisation</h1>
    <p>placeholder</p>

<h2>Department θ</h2>
<ul>
    <li><a href="/teams/1/">Team 1</a></li>
    <li><a href="/teams/2/">Team 2</a></li>
    <li><a href="/teams/3/">Team 3</a></li>
</ul>

<h2>Department λ</h2>
<ul>
    <li><a href="/teams/4/">Team 4</a></li>
    <li><a href="/teams/5/">Team 5</a></li>
    <li><a href="/teams/6/">Team 6</a></li>
</ul>
{% endblock %}