{% extends 'base.html' %}

{% block title %}Teams - Sky Portal{% endblock %}

{% block content %}
    <h1>Teams</h1>

{% if teams %}
    <ul>
        {% for team in teams %}
            <li>
                <a href="{% url 'team_detail' team.id %}">{{ team.teamName }}</a><br>
                Department: {{ team.department.deptName }}<br>
                Leader:
                    {% if team.teamLeader %}
                        {{ team.teamLeader.username }}
                    {% else %}
                        Not assigned
                    {% endif %} <br>
                Members: {{ team.membership_set.count }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No teams found.</p>
{% endif %}

{% endblock %}