{% extends 'base.html' %}
{% block content %}

<h2>Active Teams</h2>

{% for team in active_teams %}
    <div style="padding:10px; margin:8px 0; background:#f5f5f5; border-radius:6px;">
        
        <strong>
            <a href="{% url 'team_detail' team.id %}" style="text-decoration:none; color:inherit;">
                {{ team.teamName }}
            </a>
        </strong>
        <br>
        Department: {{ team.department.deptName }}<br>
        Leader: {{ team.teamLeader.username }}<br>
        Members: {{ team.membership_set.count }}

    </div>
{% empty %}
    <p>No active teams</p>
{% endfor %}


<h2 style="margin-top:30px;">Disbanded Teams</h2>

{% for team in disbanded_teams %}
    <div style="padding:10px; margin:8px 0; background:#f5f5f5; border-radius:6px;">
        
        <strong>
            <a href="{% url 'team_detail' team.id %}" style="text-decoration:none; color:inherit;">
                {{ team.teamName }}
            </a>
        </strong>
        <br>
        Department: {{ team.department.deptName }}<br>
        Leader: {{ team.teamLeader.username }}<br>
        Members: {{ team.membership_set.count }}

    </div>
{% empty %}
    <p>No disbanded teams</p>
{% endfor %}

{% endblock %}